* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background-color: #090E21; /*060027*/
    color: #eeeeee;
    text-align: left;
    /* margin-right: 10px; */
    display: flex;
    justify-content: space-between; /* Space between logo and right side divs */
    align-items: center; /* Align items vertically */
    padding: 10px; /* Adjust padding as needed */

}

.logo {
    display: flex;
    align-items: flex-end;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.logo-image img {
    width: 200px;
    height: auto;
    padding-right: 10px;
}

.tagline {
    display: inline-block;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    padding-right: 30px;
    color: #fff;
    display: flex;
    gap: 10px; /* Adjust gap between items as needed */
}

.header-right div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px; /* Optional: to add rounded corners */
    padding-right: 4px;
}

/* Add specific styles for each section if needed */

.search img{
    width: 20px;
    height: auto;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

}

.rss {
    margin-right: 40px;
}

.rss .underline{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted #eeeeee;
    font-size: 14px;
}

.region {
    padding-right: 5px;
    font-family: sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between text, flag, and chevron */
}

.region .flag {
    width: 20px; 
    height: auto;
}

.circle-image{
    width: 26px; 
    height: 26px;
    border-radius: 50%; /* Makes the image a circle */
    object-fit: scale-down; /* Ensures the image covers the entire circle */
    border: 1px solid #ffffff; /* Adds a white border around the image */
}

.circle-image#twitter {
    padding: 5px;
}

#youtube {
    width: 26px; /* Adjust the width of the YouTube icon */
    height: 26px; /* Adjust the height of the YouTube icon */
    padding: 4px; /* Add padding around the YouTube icon */
}

#flipboard {
    padding: 4px;
}

.menu {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #ccc; /* Grey border at the bottom */
    text-align: center;
}

.menu-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 260px;
}

.navigation {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin-top: 10px; /* Adjust margin as needed to create space below header */
    position: relative;
}

.navigation li {
    color:  #333333;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; /* Display items horizontally */
    margin-right: 30px; /* Adjust spacing between items */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Apply bold font weight */
}

.navigation a {
    color: #333333; /* Set the color of the links to black */
    text-decoration: none; /* Remove underline from links */
    padding: 0;
    margin: 0;
}

.navigation a:hover {
    color: #2f6e91;
    text-decoration: underline; /* Add underline on hover */
}

.dropdown {
    position: relative;
}
/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute; /* Position it absolutely for proper alignment */
    background-color: #fff; /* Background color for the dropdown */
    min-width: 160px; /* Minimum width for the dropdown */
    z-index: 1; /* Ensure it appears above other elements */
    padding: 0;
    top: 119%;
    left: -30px;
}

/* Style for each dropdown item */
.dropdown-content li {
    color: #333; /* Text color */
    padding: 12px 12px; /* Padding for better spacing */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Make each item block-level */
    margin: 0;
    text-align: left;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.image-container {
    display: flex;
    padding: 0;

}

.menu-image {
    height: 44px;
    width: auto;
}

.trending-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.trending-wrapper {
    width: 1200px; /* Adjust width as needed */
    height: 103px;
    padding: 40px 24px 20px 24px;;
    background-color: #090e21;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trending {
    height: 42px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
}

.trending span {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.trending-list {
    height: 42px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden;
    background-color: #ffffff; /* Set white background */
    padding: 10px 0; /* Adjust padding as needed */
}

.trending-list ul {
    height: 36px;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Prevent line breaks */
}

.trending-list li {
    height: 36px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0 15px;
    padding: 0 7px;
}

.trending-links {
    color: #333333;
    padding: 7px;
    text-decoration: none;
}

.trending-links:hover {
    text-decoration: underline;
}

.area-top-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.area-top-wrapper {
    color: #ffffff;
    background-color: #090e21;
    width: 1200px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

.column-left {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gradient-header-left {
    border-top: 4px solid transparent; /* Set the border width and make it transparent */
    border-image: linear-gradient(to left, #3d73d1, #e6248a); /* Apply linear gradient */
    border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
}

.top-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 200;
    padding: 20px 0;
}

.story-top {
    position: relative;
}

.top-image {
    width: 694px;
    height: auto;
}

.stories-top-wrapper {
    width: 694px;
    position: relative;
    margin-top: -55px;
    z-index: 1;
    background-color: #eeeeee;

}

.stories-top-rounded {
    width: 100%; /* Matches the width of the parent */
    height: 188px; /* Adjust the height as needed */
    background-color: #ffffff; /* White background */
    position: absolute;
    top: 0; /* Adjust as needed to align with the image */
    border-radius: 0 50px 0 0;
    padding: 40px 40px 20px;
    margin-bottom: 100px;
    bottom: -60px;
}

.stories-top-headline {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 14px;
}

.stories-top-tagline {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.story-top:hover .stories-top-headline {
    text-decoration: underline;
    text-decoration-color: #E40784;
}

.story-top:hover .stories-top-tagline {
    text-decoration: underline;
    text-decoration-color: #2F6E91;
}

.list-flex-container {
    background-color: #fff;
    position: relative;
    width: 694px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 188px;
    padding: 0px 40px 20px;
}

.list-flex-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.list-flex-item:hover {
    text-decoration: underline;
    text-decoration-color: #E40784;
}

.list-flex-item a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
    display: block; /* Make the link a block element */
    text-align: left; /* Align text to the left */
}

.list-flex-item h2 {
    font-family: Arial, sans-serif;
    font-size: 20px; /* Adjust font size */
    margin-bottom: 10px; /* Space between text and image */
    color: #1b1b1b; /* Set text color */
}

.list-flex-item img{
    max-width: 100%;
    margin-bottom: 13px;
    width: 100%; /* Ensure the image takes the full width of the container */
    height: auto; /* Maintain aspect ratio */
}

.list-flex-item h2 {
    font-size: 18px;
    line-height: 26px;
}

.column-right {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: left;
}

.gradient-header-right {
    border-top: 4px solid transparent; /* Set the border width and make it transparent */
    border-image: linear-gradient(to right, #3d73d1, #e6248a); /* Apply linear gradient */
    border-image-slice: 1; /* Ensure the entire border is covered by the gradient */
    width: 326px;
}

.news-top {
    padding-bottom: 30px;
}

.news-top-header {
    font-family: Arial, sans-serif;
    font-size: 42px;
    font-weight: 200;
    padding: 25px 0;
}

.news-top a {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.news-list-wrapper {

}

.news-list {
    list-style: none;
    margin-top: 16px;
}

.news-list-item {
    position: relative;
    left: -5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 24px;
 }

.news-list-item-div {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    margin-right: 20px;
}

.news-list-item-number {
    font-family: Arial, sans-serif;
    font-size: 42px;
}

.news-list-item-image-div {
    display: flex;
    gap: 8px;
    margin-right: -7px;
}

.news-list-item-content {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 178px;
}

.news-list-item-content-text {
    padding-bottom: 5px;
}

.news-list-item-image img{
    object-fit: cover;
    width: 82px;
    height: 82px;
}

.news-list-item-content-category {
    font-size: 12px;
    color: #E40784;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.6px;
}

.news-list-item-content a{
    text-decoration: none;
}